%script
  var tasks = [];
%h1 Tasks

.row
  .six.columns
    #map_canvas
    %script
      display_map(40.7316, -73.9901, 13);
  .five.columns
    .controls
      .new
        = button_tag 'New Task', :id => 'new_task', :class => 'button radius success alert'
        .form.hide
          = form_tag do
            = label_tag 'priority_id'
            = select_tag 'priority_id', options_from_collection_for_select(@auth.priorities.order(:value).reverse,'id', 'name')
            = label_tag 'is_complete'
            = check_box_tag 'is_complete', :value => false
            = label_tag 'title'
            = text_field_tag 'title', nil, :autofocus => true
            = label_tag 'description'
            = text_field_tag 'description'
            = label_tag 'duedate', 'Due'
            = text_field_tag 'duedate'
            = label_tag 'address'
            = text_field_tag 'address'
            = hidden_field_tag 'task_id'
            = link_to('Cancel', '#', :id=>'cancel_task', :class => 'button radius tiny alert')
            = submit_tag 'New Task', :id => 'create_task', :class => 'button radius tiny'
            = submit_tag 'Edit Task', :id => 'update_task', :class => 'button radius tiny success'
  .one.columns

.row
  .twelve.columns
    %table
      %thead
        %tr
          %th Done?
          %th Priority
          %th Task
          %th Nuke
      %tbody
      - @tasks.each do |task|
        %tr.task_row
          %td= check_box_tag 'is_complete', task.id
          %td.color= task.priority.color
          %td= task.title
          %td= link_to('Delete', '#', :class => 'delete button radius tiny alert')
          %td.hide= task.id
          %script
            = "add_marker(#{task.latitude}, #{task.longitude}, '#{task.title}');"
            = "tasks.push({color:'#{task.priority.color}', title:'#{task.title}', value:#{task.priority.value}, latitude:#{task.latitude}, longitude:#{task.longitude}})"
